<div class='container'>

<div class="content">

    <h2 class="section-ttl">会員情報編集</h2>

      <%= form_with model:@customer, url: update_information_path, method: :patch do |f| %>
      <%= render 'layouts/error_messages', resource: @customer %>
        <table class="customer_info customer_form"  border="1">
          <thead>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label :name,"ユーザ名",class:"font-weight-bold"  %></td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= f.label :email,"メールアドレス",class:"font-weight-bold" %></td>
              <td><%= f.email_field :email, autofocus: true %></td>
            </tr>
            <tr>
              <td><%= f.label :profile_image,"プロフィール画像",class:"font-weight-bold" %></td>
              <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: 'image/jpeg, image/png' %></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2"><%= f.submit "編集内容を保存",class:"btn btn-lg btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>

    <h2 class="section-ttl">退会する場合</h2>
      <%= link_to "こちら",confirm_unsubscribe_path %>&emsp;をクリックしてください。
      <p>退会されると日記の閲覧、作成が使用できなくなります。</p>


</div>

</div>