<div class='container'>

  <div class="content my_content">


    <div class="card d-block rounded-0" >
      <div class="card-header mb-3"><h2 class="section-ttl">登録基本情報</h2></div>
        <%= image_tag @customer.get_profile_image(100,100),class:"my-3"  %>
      <div class="row justify-content-center card_text">
        <p class="col-lg-4 col-sm-5 col-10 col-md-5">ユーザ名&emsp;&emsp;&emsp;&emsp;:</p>
        <p class="col-lg-6 col-sm-5 col-10 col-md-5"><%= @customer.name %></p>
      </div>
      <div class="row justify-content-center card_text">
        <p class="col-lg-4 col-sm-5 col-10 col-md-5">メールアドレス&emsp;:</p>
        <p class="col-lg-6 col-sm-5 col-10 col-md-5"><%= @customer.email %></p>
      </div>
      <div class="row justify-content-center">
        <%= link_to "基本情報編集をする", edit_information_path, class: "btn btn-success my-3 mx-1 btn_size col-lg-4 col-sm-5 col-10 col-md-5" %>
        <%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-success my-3 mx-1 col-lg-4 col-sm-5 col-10 col-md-5" %>
      </div>
    </div>


  </div>

</div>