<div class='container'>

  <div class="content customers">


      <%= link_to customer_customer_diary_books_path(@customer),class:"customer_card_hover" do  %>
        <div class="customer_card p-1">
          <%= image_tag @customer.get_profile_image(50,50)%>&emsp;<span style="word-break: break-all;"><%= "#{@customer.name}さん" %></span>
        </div>
      <% end %>

    <div class="card d-block rounded-0 index mt-5" >
      <div class="card-header mb-3"><h2 class="section-ttl pl-5">日記一覧</h2></div>
      <% if @customer_diary_books.present? %>
        <table border="1" cellpadding="5" width="95%" class="mb-3" >
          <thead>
            <tr class="bg-light" height="40">
              <th width="60%">日記帳名</th>
              <th width="20%" style="text-align:center">最新記録日付</th>
              <th width="20%" style="text-align:center">古い記録日付</th>
            </tr>
          </thead>
          <tbody>
          <% @customer_diary_books.each do |diary_book| %>
            <tr>
              <td style="word-break: break-all;">
                <%= link_to customer_customer_diary_books_path(@customer,diary_book: diary_book.id) do %>
                 <p class="no_margins p_tag"><%= diary_book.title %></p>
                <% end %>
              </td>
              </td>
              <td style="text-align:center"><%#=link_to diary_book.order_update_last_custmoter.start_time.strftime('%Y/%m/%d'),customer_customer_diary_book_path(@customer,diary_book.order_update_last_custmoter)  %></td>
              <td style="text-align:center"><%#=link_to diary_book.order_update_first_custmoter.start_time.strftime('%Y/%m/%d'),customer_customer_diary_book_path(@customer,diary_book.order_update_first_custmoter)  %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @customer_diary_books %>
      <% else %>
        <h3>日記帳がありません。</h3>
      <% end %>
    </div>


</div>

</div>