<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @diary.diary_book.customer.name %>さん</h2>
    <h2 class="section-ttl"><%= @diary.diary_book.title %>の日記</h2>

      <% @diary.diary_book.tags.each do |tag| %>
        ▶<%= tag.name %>
      <% end %>


      <table class="customer_info customer_form" border="1">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>日付</td>
            <td><%= @diary.start_time.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>天気</td>
            <td><%=@diary.weather_i18n%></td>
          </tr>
          <tr>
          <tr>
            <td>気温</td>
            <td><%= @diary.temperature %>℃</td>
          </tr>
          <tr>
            <td>画像</td>
            <td>
              <% if @diary.diary_images.attached? %>
                  <% @diary.diary_images.each do |diary_image|%>
                   <a href="<%= url_for(diary_image) %>">
                    <%#= image_tag diary_image.variant(resize_to_limit: [500, 200]).processed %>
                    <%#= image_tag diary_image.variant(resize: '500x200').processed %>
                    <%= image_tag diary_image.representation(resize_to_limit: [100, 50]).processed %>
                  <% end %>
              <% else %>
                  画像がありません
              <% end %>
            </td>
          </tr>
        </tbody>
        </table>

      <table class="customer_info customer_form" border="1">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>内容</td>
          </tr>
          <tr>
            <td colspan="2"><%= @diary.body %></td>
          </tr>
          <tr>
            <td>日記の公開設定</td>
            <td><% if @diary.status == true %>公開する<% else %>公開しない<% end %></td>
          </tr>
          <tr>
        </tbody>
        </table>

<%= link_to "このユーザの他の日記をみる", customer_path(@diary.diary_book.customer.id) %>





</div>

</div>