<div class='container'>
  <div class="py-5 body heading">
    <span class="col-md-3 bg-light" style="font-size : 30pt">管理者ログイン</span>
  </div>

  <% if flash[:alert] %>
    <p class="alert alert-danger" role="alert" id="alert"><%= alert %></p>
  <% end %>
  
  
  <div class="form-horizontal" role="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email,"メールアドレス" ,class:"col-lg-2 col-form-label" %>
        <%= f.email_field :email,id:"email", autofocus: true,class:"col-lg-5" ,autocomplete: "email",placeholder:"sample@example.com" %>
      </div>
      <div class="form-group">
        <%= f.label :password,"パスワード" ,class:"col-lg-2 col-form-label" %>
        <%= f.password_field :password,id:"password",class:"col-lg-5",  autocomplete: "current-password" %>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-6 text-center">
        <div class="actions">
        <%= f.submit "ログイン",class:"col-md-3 btn btn-primary" %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "admin/shared/links" %>

</div>
