<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @diary_book.customer.name %>さんの<%= @diary_book.title %>の日記詳細</h2>

      <% @diary_book.tags.each do |tag| %>
        ▶<%= tag.name %>
      <% end %>

      <table class="customer_info customer_form" border="1">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>日付</td>
            <td><%= @diary_date.start_time.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>天気</td>
            <td><%=@diary_date.weather_i18n%></td>
          </tr>
          <tr>
          <tr>
            <td>気温</td>
            <td><%= @diary_date.temperature %>℃</td>
          </tr>
          <tr>
            <td>画像</td>
            <td>
              <% if @diary_date.diary_images.present? %>
                  <% @diary_date.diary_images.each do |diary_image|%>
                    <%= image_tag diary_image.variant(resize: '300x100').processed %>
                  <% end %>
              <% else %>
                  画像がありません
              <% end %>
            </td>
          </tr>
        </tbody>
        </table>

      <table class="customer_info customer_form" border="1">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>内容</td>
          </tr>
          <tr>
            <td colspan="2"><%= @diary_date.body %></td>
          </tr>
          <tr>
            <td>日記の公開設定</td>
            <td><% if @diary_date.status? %>公開する<% else %>公開しない<% end %></td>
          </tr>
          <tr>
            <td>管理者日記の公開設定</td>
            <td><% if @diary_date.status_admin? %>公開する<% else %>公開しない<% end %></td>
          </tr>
          <tr>
            <td>管理者側の日の公開設定</td>
            <td>
              <%= form_with model: @diary_date,url: admin_diary_book_diary_date_path(@diary_book,@diary_date), method: :patch  do |f| %>
                <%= render 'layouts/error_messages', resource: @diary_date %>
                <%= f.radio_button :status_admin, true %><%= f.label :status, '公開する', value: true %>
                <%= f.radio_button :status_admin, false %><%= f.label :status, '公開しない', value: false %>
                <%= f.submit '更新する',class:"btn btn-lg btn-success" %></br>
              <% end %>
            </td>
          </tr>
        </tbody>
        </table>


        <p><%= link_to '日記帳詳細に戻る', admin_diary_book_path(@diary_book) %>&ensp;
           <%= link_to '日記一覧へ', admin_diary_book_diary_dates_path(@diary_book) %></p>



      <% if @diary_date.diary_comments.present? %>
        <table class="customer_info customer_form" border="1">
          <thead>
            <th colspan="2">コメント一覧(全<%= @diary_date.diary_comments.count %>件)</th>
          </thead>
          <tbody>
            <% @diary_date.diary_comments.each do |diary_comment| %>
            <tr>
              <td colspan="2"><%= diary_comment.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td><%= image_tag diary_comment.customer.get_profile_image(70,50) %></td>
              <td><%= diary_comment.customer.name %>さんのコメント</td>
            </tr>
            <tr>
              <td colspan="2"><%= diary_comment.comment %></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

</div>
</div>