<div class='container'>



  <div class="content admin_content">
      <%= link_to admin_customer_path(@diary_book.customer),class:"customer_card_hover" do  %>
        <div class="customer_card p-1">
          <%= image_tag @diary_book.customer.get_profile_image(50,50)%>&emsp;<span style="word-break: break-all;"><%= "#{@diary_book.customer.name}さん" %></span>
        </div>
      <% end %>

    <div class="card d-block index rounded-0 my-5" >
      <div class="card-header_design2 pt-4"><h2 class="section-ttl"><span class="px-1"><%= @diary_book.title %>の日記</span></h2></div>


      <div class="loose-leaf">
        <div class="row">

        <% unless @diary_date.status_admin? %>
          <div class="status_admin">
            <p>管理者側によって不適切な投稿と判断され、非公開にされています。</p>
          </div>
         <% end %>

        <div class="col-lg-5">


          <div class="m-2 required_frame py-2" >
          <p class="card_text_boder_left_80 no_margins">
            <span class="px-2">日付</span>
            <%= @diary_date.start_time.strftime('%Y/%m/%d') %>
          </p>
          </div>
          <div class="m-2 arbitrary_data py-2">
            <p class="card_text_boder_left_80 no_margins">
            <span class="px-2">天気</span>
            <%=@diary_date.weather_i18n%>
            </p>
          </div>
          <div class="m-2  arbitrary_data py-2">
            <p class="card_text_boder_left_80 no_margins">
            <span class="px-2">気温</span>
            <%if @diary_date.temperature.present? %>
              <%= @diary_date.temperature %>℃
            <% else %>
              未入力
            <% end %>
            </p>
          </div>
          <div class="m-2  arbitrary_data py-2">
            <p class="card_text_boder_left_80 no_margins">
            <span class="px-2">いいね回数</span>
            <%= @diary_date.favorites.count %>
            </p>
          </div>
          <div class="m-2  arbitrary_data py-2">
            <p class="card_text_boder_left_80 no_margins">
            <span class="px-2">日記の公開設定</span>
            <% if @diary_date.status == true %>
              <span class="publish">公開</span><% else %><span class="private">非公開</span><% end %>
            </p>
          </div>
          <div class="m-2  arbitrary_data py-2">
            <p class="card_text_boder_left_80 no_margins">
            <span class="px-2">管理者日記の公開設定</span>
            <% if @diary_date.status_admin == true %>
              <span class="publish">公開</span><% else %><span class="private">非公開</span><% end %>
            </p>
          </div>
          <div class="m-2  arbitrary_data py-2">
            <p class="card_text_boder_center_80 no_margins">
            <span class="px-2">管理者日記の公開設定</span>
              <%= form_with model: @diary_date,url: admin_diary_book_diary_date_path(@diary_book,@diary_date), method: :patch  do |f| %>
                <%= render 'layouts/error_messages', resource: @diary_date %>
                <%= f.radio_button :status_admin, true %><%= f.label :status, '公開する', value: true %>
                <%= f.radio_button :status_admin, false %><%= f.label :status, '公開しない', value: false %>
                <%= f.submit '更新',class:"btn btn-sm btn-info m-2" %></br>
              <% end %>
            </p>
          </div>
          <% if @diary_date.diary_images.attached? %>
          <div class="m-2 arbitrary_data character_underline py-2">
            <span class="px-3">画像</span>
          </div>
          <div class="m-1 p-1 arbitrary_data side_scroll">
              <% @diary_date.diary_images.each do |diary_image| %>
                <a href="<%= url_for(diary_image) %>">
                <%= image_tag diary_image.representation(resize_to_limit: [200, 180]).processed,class:"pr-5 py-1" %>
                </a>
              <% end %>
          </div>
          <% end %>

        </div>

        <div class="character_underline col-lg-7">
            <p class="required_frame py-2"><span class="px-1">内容</span></p>
            <div class="required_frame_data">
              <p class="px-1 mx-4"style="text-align:left;"><span><%= @diary_date.body %></span></p>
            </div>
          </div>
        </div>

          <div class="m-2 arbitrary_data" style="text-align:center;">
            <%= link_to '日記帳詳細に戻る', admin_diary_book_path(@diary_book),class: "btn btn-primary m-2" %>
            <%= link_to '日記一覧へ', admin_customer_diary_books_path(@diary_book.customer.id,diary_book: @diary_book.id),class: "btn btn-primary m-2" %>
          </div>

      </div>

  </div>


</div>

<% if @diary_date.diary_comments.present? %>
  <div class="content content admin_content my-2">


    <div class="card d-block index rounded-0" >
      <div class="card-header_design2"><h2 class="section-ttl"><span class="diary_date_header_new px-1">コメント一覧</span>(全<%= @diary_date.diary_comments.count %>件)</h2></div>  <div class="character_underline">
        <div class="loose-leaf">
          <% @diary_date.diary_comments.each do |diary_comment| %>
          <div class="p-1 comment vertical-align: middle my-2">
            <%= image_tag diary_comment.customer.get_profile_image(70,50),class:"px-1" %><%= diary_comment.customer.name %>さんのコメント
            <div class="comment_date"><%= diary_comment.created_at.strftime('%Y/%m/%d') %></div>
            <p><%= diary_comment.comment %></p>
                  <%= link_to "削除", admin_diary_book_diary_date_diary_comment_path(@diary_date.diary_book.id,@diary_date.id, diary_comment), "data-confirm" => "本当にコメントを削除しますか？", method: :delete,class: "btn btn-danger m-1",:style =>"text-align:left;" %>
          </div>
            <% end %>
        </div>
      </div>
    </div>


  </div>
<% end %>

</div>