<div class='container'>

  <div class="content admin_content">


    <div class="card d-block rounded-0 index" >
      <div class="card-header_design2"><h2 class="section-ttl">会員情報一覧</h2></div>
      <div class="stitch py-2">
        <table  border="1" cellpadding="5" width="99%" class="my-2">
          <thead>
            <tr class="bg-light" height="40">
            <th width="15%"style="text-align:center;">会員ID</th>
            <th width="65%">名前</th>
            <th width="20%" style="text-align:center">会員ステータス</th>
          </tr>
          </thead>
          <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td style="text-align:center;">
                <%= link_to admin_customer_path(customer) do %>
                  <p class="no_margins p_tag"><%= customer.id %></p>
                <% end %>
              </td>
              <td style="word-break: break-all;">
                <%= link_to admin_customer_path(customer) do %>
                  <p class="no_margins p_tag"><%= customer.name %></p>
                <% end %>
              </td>
              <td style="text-align:center;" >
                <% if customer.is_deleted? %>
                  <span class="private">退会</span>
              <% else %>
                  <span class="publish">有効</span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <% if @customers.present? %>
          <%= paginate @customers %>
        <% else %>
          <p>ユーザが登録されていません。</p>
        <% end %>
      </div>
    </div>


  </div>

</div>