<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @date_year %>年<%= @date_month %>月<%= @date_date %>日の日記一覧</h2>

      <% @diaries.each do |diary|%>
        <div>
          <table border="0">
            <tr>
              <td><%= image_tag diary.diary_book.customer.get_profile_image(100,100) %></td>
              <td>名前:</td>
              <td><%= link_to diary.diary_book.customer.name,customer_path(diary.diary_book.customer.id) %>さん</td>
              <td>&emsp;</td>
              <td>日記名:</td>
              <% if current_customer.id == diary.diary_book.customer.id %>
              <td><%= link_to diary.diary_book.title,diary_book_diary_path(diary.diary_book.id,diary) %></td>
              <% else %>
              <td><%= link_to diary.diary_book.title,customer_customer_diary_path(diary.diary_book.customer.id,diary) %></td>
              <% end %>
            </tr>
          </table>
        </div>
      <% end %>

</div>

</div>
