<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @date_year %>年<%= @date_month %>月<%= @date_date %>日の日記一覧</h2>
    <h3>全<%=@diary_dates_count.count %>件</h3>

            <% if params[:tag_ids].present? %>
              <tr><th>
                <% params[:tag_ids].each do |key, value| %>
                  <% if value == "1" %>
                    <span>"<%= key %>"</span>
                  <% end %>
                <% end %>
              </th></tr>
          <% end %>

    <%= form_tag({controller:"calendar_diaries",action:"filter_by_date"}, method: :get) do %>
    <p>タグ検索</p>
      <% Tag.all.each do |t| %>
        <%= check_box :tag_ids, t.name %><%= t.name %>
      <% end %>
      <%= hidden_field_tag :date,@date_year+"-"+@date_month+"-"+@date_date %>
      <%= submit_tag '検索' %>
    <% end %>


    <h3>並べ替え</h3><% if params[:order].present? %><%=@order %><% end %>
    <%= form_tag({controller:"calendar_diaries",action:"filter_by_date"}, method: :get) do %>
      <%= select_tag("order", options_for_select([ ['最新の投稿', 'newpost'], ['古い投稿', 'oldpost'], ['いいね投稿', 'favoritepost']])) %>
      <%= hidden_field_tag :date,@date_year+"-"+@date_month+"-"+@date_date %>
      <%= submit_tag '並べ替える'  %>
    <% end %>

      <% @diary_dates.each do |diary_date|%>
        <div>
          <table border="0">
            <tr>
              <td><%= image_tag diary_date.diary_book.customer.get_profile_image(100,100) %></td>
              <td>作成日<%= diary_date.created_at.strftime('%Y/%m/%d') %></td>
              <td>名前:</td>
              <td><%= link_to diary_date.diary_book.customer.name,customer_path(diary_date.diary_book.customer.id) %>さん</td>
              <td>&emsp;</td>
              <td>日記名:</td>
              <td><%= link_to diary_date.diary_book.title,customer_customer_diary_book_path(diary_date.diary_book.customer.id,diary_date) %></td>
              <td>&emsp;</td>
            　<td>タグ:</td>
              <td>
                  <% diary_date.diary_book.tags.each do |tag| %>
                    ▶<%= tag.name %>
                  <% end %>
              </td>
              <td>&emsp;</td>
            　<td>いいね回数:</td>
            　<td><%= diary_date.favorites.count %></td>
            </tr>
          </table>
        </div>
      <% end %>
    <%= paginate @diary_dates %>



</div>

</div>
