<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @date_year %>年<%= @date_month %>月<%= @date_date %>日の日記一覧</h2>


 <h3>並べ替え</h3>
 <%= form_tag({controller:"calendar_diaries",action:"filter_by_date"}, method: :get) do %>
   <%= select_tag("search", options_for_select([ ['最新の投稿', 'newpost'], ['古い投稿', 'oldpost'], ['いいね投稿', 'favoritepost']])) %>
   <%= hidden_field_tag :date,@date_year+"-"+@date_month+"-"+@date_date %>
   <%= submit_tag '並べ替える'  %>
 <% end %>

      <% @diary_dates.each do |diary_date|%>
        <div>
          <table border="0">
            <tr>
              <td><%= image_tag diary_date.diary_book.customer.get_profile_image(100,100) %></td>
              <td>作成日<%= diary_date.created_at.strftime('%Y/%m/%d') %></td>
              <td>名前:</td>
              <td><%= link_to diary_date.diary_book.customer.name,customer_path(diary_date.diary_book.customer.id) %>さん</td>
              <td>&emsp;</td>
              <td>日記名:</td>
              <% if current_customer.id == diary_date.diary_book.customer.id %>
              <td><%= link_to diary_date.diary_book.title,diary_book_diary_date_path(diary_date.diary_book.id,diary_date) %></td>
              <% else %>
              <td><%= link_to diary_date.diary_book.title,customer_customer_diary_book_path(diary_date.diary_book.customer.id,diary_date) %></td>
              <% end %>
            </tr>
          </table>
        </div>
      <% end %>

</div>

</div>
