<div class='container'>

<div class="content">


    <h2 class="section-ttl">みんなの日記</h2>

      <%= month_calendar events: @diaries do |date, diaries| %>
        <%= link_to date.day , date_path(date: date) %></br>
          <% unless Diary.count_by_date(date) == 0 %>
            <%= Diary.count_by_date(date) %>件
          <% end %>
        <% diaries.each do |diary| %>
        <div>
          <% if diary.status?%>
            <%= diary.diary_book.title %>
            <%= diary.diary_book.customer.name %>さん
          <% end %>
        </div>
        <% end %>
      <% end %>



</div>

</div>
