<div class='container'>

<div class="content">


    <h2 class="section-ttl">みんなの日記</h2>


      <%= month_calendar events: @diary_dates do |date, diary_dates| %>
        <%= link_to date.day , date_path(date: date) %></br>
          <% unless diary_dates.length == 0 %>
            <%= diary_dates.length %>件
          <% end %>
        <% diary_dates.each do |diary_date| %>
        <div>
             <%= diary_date.diary_book.title %>
             <%= diary_date.diary_book.customer.name %>さん
        </div>
        <% end %>
      <% end %>



</div>

</div>
