<div class='container'>


  <div class="content customers">


    <div class="card d-block calendar rounded-0" >
      <div class="card-header_design2 mb-3"><h2 class="section-ttl">みんなの日記</h2></div>

      <div class="card border-white d-block index rounded-0 p-1" >
        <%= form_with url: search_date_path, method: :get do |f| %>
          <span style="vertical-align: middle;">日付検索</span>
          <%= f.date_field :start_date ,class:"form_middle mx-3" %>
          ～
          <%= f.date_field :end_date,class:"form_middle mx-3" %>
          <%= f.submit '検索', class: 'btn_size btn btn-primary m-1' %>
        <% end %>
      </div>
      <div class="my-2">
        <%= month_calendar events: @diary_dates do |date, diary_dates| %>
          <p style="text-align:center" class="my-1"><%= date.day %></p>
            <% unless diary_dates.length == 0 %>
               <%=link_to date_path(date: date),class:"calendar_day py-1" do %>
               <i class="fa-solid fa-book pr-2"></i><%= diary_dates.length %>
               <% end %>
            <% end %>
        <% end %>
      </div>

    </div>


  </div>
</div>