<div class='container'>

  <div class="row">


    <div class="content my_content col-lg-3 col-sm-12 col-12 col-md-12 m-1">

      <div class="card d-block index rounded-0 my-1" >
        <div class="card-header_design2"><h2 class="section-ttl">日記帳一覧</h2></div>
          <% if params[:tag_ids].present? %>
            <div class="card rounded-0">
              タグ検索結果
                <% params[:tag_ids].each do |key, value| %>
                  <% if value == "1" %>
                    <span>"<%= key %>"</span>
                   <% end %>
                <% end %>
            </div>
          <% end %>

          <% @diary_books.each do |diary_book| %>
            <% if diary_book.id.present? %>
              <%=link_to diary_books_diaries_path(diary_book: diary_book.id),class:"card_link_font" do %>
                <div class="card rounded-0 card_hover">
                  <p class="no_margins py-2" style=" word-break: break-all;text-align:left" ><span>・</span><%= diary_book.title %></p>
                 </div>
              <% end %>
            <% end %>
          <% end %>
          <%= paginate @diary_books %>
      </div>

      <div class="card d-block tag rounded-0" >
        <%= form_tag({controller:"diary_dates",action:"index"}, method: :get) do %>
        <div class="card-header mb-3"><h2 class="section-ttl">タグ検索</h2></div>
          <% Tag.all.each do |t| %>
            <%= check_box :tag_ids, t.name %><%= t.name %>
          <% end %>
        <%= submit_tag '検索',class:"m-2 search_color" %>
        <% end %>
      </div>

    </div>


    <div class="content my_content  col-lg-8 col-sm-12 col-12 col-md-12 m-1">


        <%= render 'layouts/diary_date_calendar', diary_date_latest_date: @diary_date_latest_date,diary_book: @diary_book, diary_dates: @diary_dates %>



    </div>


  </div>

</div>