<div class='container'>

  <div class="row mt-5">

    <div class='mb-5 col-md-2' >
      <table class="table" style="border:2px solid silver">
        <thead>
          <tr><th>日記帳一覧</th></tr>
            <% if params[:tag_ids].present? %>
              <tr><th>
                <% params[:tag_ids].each do |key, value| %>
                  <% if value == "1" %>
                    <span>"<%= key %>"</span>
                  <% end %>
                <% end %>
                のタグ一覧
               </th></tr>
          <% end %>
        </thead>
        <tbody style="border-bottom: 1px solid silver;">
        <% @diary_books.each do |diary_book| %>
          <tr>
              <% if diary_book.id.present? %>
            <td>
              <%= link_to diary_book.title, diary_books_diaries_path(diary_book: diary_book.id), class: "text-secondary" %>
              <% end %>
            </td>
            <% end %>
          </tr>
          <%= paginate @diary_books %>
          </tbody>
      </table>
    </div>

    <%= form_tag({controller:"diary_dates",action:"index"}, method: :get) do %>
      <h3>タグ検索</h3>
      <% Tag.all.each do |t| %>
        <%= check_box :tag_ids, t.name %><%= t.name %>
      <% end %>
      <%= submit_tag '検索' %>
    <% end %>

<% if @diary_book.present? %>

    <div class='col-md-10'>
      <% @diary_book.tags.each do |tag| %>
        <span>▶<%= tag.name %></span>
      <% end %>
      <h1 class="mb-3"><%= @diary_book.title %>の日記</h1>

      <%= link_to "日記を作成する", new_diary_book_diary_date_path(@diary_book), class: "btn btn-success ml2" %>

      <% if @diary_date.present? %>
       <p>最新記録日付：<%= @diary_date.start_time.strftime('%Y/%m/%d') %></p>
       <% else %>
       <p>この日記帳は何も投稿されていません。</p>
      <% end %>

        <%= month_calendar events: @diary_dates do |date, diary_dates| %>
          <%= date.day %>
            <% diary_dates.each do |diary_date| %>
            <div>
              <%# if diary.status? %>
              <% if diary_date.diary_images.attached? %>
                <%= link_to diary_book_diary_date_path(@diary_book,diary_date) do %>
                  <%= image_tag diary_date.diary_images[0].representation(resize_to_limit: [200, 180]).processed, class: "review-img"%>
                <% end %>
              <% else %>
                <%= link_to diary_book_diary_date_path(@diary_book,diary_date) do %>
                  <%= diary_date.body.truncate(10, omission: '...続き') %>
        　       <% end %></br>
                <%#= link_to '日記を編集する', edit_diary_book_diary_path(@diary_books,diary) %>
               <%#= link_to "削除", diary_book_diary_path(@diary_books,diary), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn btn-danger ml2"  %>
              <% end %>
            </div>
            <% end %>
        <% end %>
    </div>
 <% else %>
<p>日記帳を選択してください</p>
        <%#= month_calendar events: @diaries do |date, diaries| %>
          <%#= date.day %>
            <%# diaries.each do |diary| %>
            <div>
            <%#= diary.diary_book.title %>
            </div>
            <%# end %>
        <%# end %>
 <% end %>

  </div>

</div>