<div class='container'>


  <div class="content my_content">

    <%= render 'layouts/diary_date', diary_date: @diary_date,diary_book: @diary_book %>

   </div>


  <% if @diary_date.diary_comments.present? %>

  <div class="content my_content my-2">


    <div class="card d-block index rounded-0" >
      <div class="card-header_design2"><h2 class="section-ttl"><span class="px-1">コメント一覧(全<%= @diary_date.diary_comments.count %>件)</span></h2></div>  <div class="character_underline">
        <div class="loose-leaf">
          <% @diary_date.diary_comments.each do |diary_comment| %>
          <div class="p-1 comment vertical-align: middle my-2">
            <%= image_tag diary_comment.customer.get_profile_image(70,50),class:"px-1" %><%= diary_comment.customer.name %>さんのコメント
            <div class="comment_date"><%= diary_comment.created_at.strftime('%Y/%m/%d') %></div>
            <p><%= diary_comment.comment %></p>
                <% if diary_comment.customer == current_customer %>
                  <%= link_to "削除", customer_customer_diary_book_diary_comment_path(@diary_book.customer_id,@diary_date.id, diary_comment), "data-confirm" => "本当にコメントを削除しますか？", method: :delete,class: "btn btn-danger m-1",:style =>"text-align:left;" %>
                <% end %>
          </div>
            <% end %>
          <div class="m-1 p-1 diary_date_new vertical-align: middle " style="text-align:center;">
     　      <%= form_with model: @diary_comment,url: customer_customer_diary_book_diary_comments_path(@diary_book.customer_id,@diary_date.id) do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <%= f.submit "コメントを返信する",class: "btn btn-success m-1" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <% end %>

</div>
