<section class="inner">
  <h2 class="section-ttl">検索結果</h2>
  <% if @result.present?  %>
  <p><%= @content %>の検索結果:<%= @result.count %>件</p>
  	<% if @model == 'customer' %>
      <table>
        <thead>
          <th></th>
          <th>ユーザ名</th>
        </thead>
        <tbody>
          <% @result.each do |customer| %>
          <tr>
            <td><%= image_tag customer.get_profile_image(100,100) %></td>
            <td><%= customer.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  	<% else %>
      <table>
        <thead>
          <th>日記帳名</th>
          <th>ユーザ名</th>
          <th>作成日付</th>
        </thead>
        <tbody>
          <% @result.each do |diary_book| %>
          <tr>
            <td><%= diary_book.title %></td></td>
            <td><%= diary_book.customer.name %>さん</td>
            <td><%= diary_book.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  	<% end %>
  <% else %>
  	<h3><% if @content.present? %><%= @content %>の検索結果は<% end %>見つかりませんでした。検索条件を変更して再度お試しください。</h3>
  <% end %>
</section>