<div class='container'>

<div class="content">


    <h2 class="section-ttl">みんなの日記</h2>

      <%= form_with url: admin_search_date_path, method: :get do |f| %>
        <span>日付検索:</span><%= f.date_field :start_date %><span>～</span><%= f.date_field :end_date %><span>を検索する</span>
        <%= f.submit '検索', class: 'btn btn-primary'  %>
      <% end %>

      <%= month_calendar events: @diary_dates do |date, diary_dates| %>
        <%= link_to date.day,admin_date_path(date: date) %></br>
          <% unless diary_dates.length == 0 %>
            全<%= diary_dates.length %>件</br>
            公開中の日記<%= DiaryDate.count_by_date(date).count %>件
          <% end %>
        <% diary_dates.each do |diary_date| %>
        <div>
          <% if diary_date.diary_book.status == true && diary_date.diary_book.status_admin == true %>
            <% if diary_date.status == true && diary_date.status_admin == true %>
             <%= diary_date.diary_book.title %>
             <%= diary_date.diary_book.customer.name %>さん
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% end %>



</div>

</div>