<div class='container'>

  <div class="content my_content">


    <div class="card d-block index rounded-0" >
      <div class="card-header_design2">
        <h2 class="section-ttl count">いいねした日記</h2>
        <h5 class="count_position_right">全<%=@favorites_count.count %>件</h5>
      </div>
      <div class="stitch">
         <% if @favorites.present? %>
            <div class="row justify-content-center my-2">
              <p class="character_underline no_margins">
              <% if params[:order].present? %>
                <span class="px-1 mx-1"><%=@order %></span>
              <% end %>
              </p>
              <%= form_tag({controller:"favorites",action:"index"}, method: :get,class:"") do %>
                <%= select_tag("order", options_for_select([ ['最近いいねした順', 'newfavorite'],['古いいいねした順', 'oldfavorite'],['最新の投稿順', 'newpost'], ['古い投稿順', 'oldpost']]),class:"vertical-align: middle; mx-1") %>
                <%= submit_tag '並べ替える' ,class:"sort_color mx-1" %>
              <% end %>
            </div>
          <% @favorites.each do |favorite| %>
            <div class="card d-block index rounded-0 my-2" >
              <div class="row">
              <%= link_to customer_customer_diary_book_path(favorite.diary_date.diary_book.customer.id,favorite.diary_date.id),class:"card_hover col-lg-3" do %>
                <div class="card rounded-0 py-1">
                   <div style="text-align:left" ><span class="px-2">記録日付</span><%= favorite.diary_date.start_time.strftime('%Y/%m/%d') %></div>
                </div>
              <% end %>
              <%= link_to customer_customer_diary_books_path(favorite.diary_date.diary_book.customer.id,diary_book: favorite.diary_date.diary_book.id),class:"card_hover col-lg-9" do %>
                <div class="card rounded-0 py-1">
                   <div style="text-align:left" ><span class="px-2">日記名</span><%= favorite.diary_date.diary_book.title %></div>
                </div>
              <% end %>
              </div>
              <%= link_to customer_path(favorite.diary_date.diary_book.customer.id),class:"card_hover" do %>
                <div class="card index rounded-0 py-1" >
                  <div style="text-align:left">
                    <%= image_tag favorite.diary_date.diary_book.customer.get_profile_image(50,50), class: "px-2" %>
                    ユーザ名 <%= favorite.diary_date.diary_book.customer.name %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <%= paginate @favorites %>
         <% else %>
           <p>いいねした日記がありません。</p>
         <% end %>
      </div>
    </div>


  </div>

</div>