<div class='container'>


  <div class="content my_content">
    <div class="card edit d-block rounded-0" >
      <div class="card-header_design2 mb-3"><h2 class="section-ttl">パスワード変更</h2></div>

      <div class="card-body character_underline">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="row my-3">
            <div class="col-lg-4 text_position_cetnter_left"><span class="px-4"><%= f.label :email, "メールアドレス" %></span></div>
            <div class="col-lg-7"><%= f.email_field :email, autofocus: true,class:"my_page_edit", autocomplete: "email" %></div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="row my-3">
            <div class="col-lg-4 text_position_cetnter_left"><span class="px-4"><%= f.label :password %><% if @minimum_password_length %><%= @minimum_password_length %>文字以上<% end %></span></div>
            <div class="col-lg-7"><%= f.password_field :password, autocomplete: "new-password",class:"my_page_edit" %></div>
            <div class="col-lg-4"></div><div class="col-lg-7">(変更しない場合は空欄にしてください。)</div>
        </div>

        <div class="row my-3">
            <div class="col-lg-4 text_position_cetnter_left"><span class="px-4"><%= f.label :password_confirmation %></span></div>
            <div class="col-lg-7"><%= f.password_field :password_confirmation, autocomplete: "new-password",class:"my_page_edit" %></div>
        </div>

        <div class="row my-3">
            <div class="col-lg-4 text_position_cetnter_left"><span class="px-4"><%= f.label :current_password %></span></div>
            <div class="col-lg-7"><%= f.password_field :current_password, autocomplete: "current-password",class:"my_page_edit" %></div>
            <div class="col-lg-4"></div><div class="col-lg-7">(変更を確認するには、現在のパスワードが必要です。)</div>
        </div>

        <div class="actions">
          <%= f.submit "パスワードを変更する" ,class:"btn btn-info m-2"%>
        </div>

        <% end %>
        <%= link_to "戻る", :back ,class:"btn btn-primary m-2"%>
      </div>

    </div>
  </div>

</div>