<div class='container'>

  <div class="content my_content">


    <h2 class="section-ttl">新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
          <table class="customer_info customer_form">
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td><%= f.label :name, "ユーザ名" %></td>
                <td><%= f.text_field :name,placeholder:"令和" %></td>
              </tr>
              <tr>
                <td><%= f.label :email, "メールアドレス" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"sample@example.com" %></td>
              </tr>
              <tr>
                <td><%= f.label :password, "パスワード" %><% if @minimum_password_length %><em>(<%= @minimum_password_length %>文字以上)</em><% end %></td>
                <td><%= f.password_field :password, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <td><%= f.label :password_confirmation, "パスワード確認用" %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2" class="text-center"><%= f.submit "新規登録",class:"btn btn-sm btn-success" %></td>
              </tr>
            </tbody>
            </table>
      <% end %>

    <%= render "public/shared/links" %>

</div>
</div>