<div class='container'>

<div class="content">


    <h2 class="section-ttl">新しい日記帳の作成</h2>
    
      <%= form_with model: @diary_book do |f| %>
		    <%= render 'layouts/error_messages', resource: @diary_book %>

        <div class="form-group">
         <%= f.label :title,"タイトル" ,class:"col-lg-2 col-form-label font-weight-bold" %>
         <%= f.text_field :title ,placeholder:"あさがお",class: "col-lg-5"  %>
       </div>
       <div class="form-group">
         <%= f.label :tag_ids,"タグ" ,class:"col-lg-2 col-form-label font-weight-bold" %>
         <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
           <%= tag.label do %>
             <%= tag.check_box %>
             <%= tag.text %>
           <% end %>
         <% end %>
        </div>
        <div class="form-group">
          日記帳の公開
          <div>
            <%= f.radio_button :status, true %>
            <%= f.label :status, '公開する', value: true %>
            <%= f.radio_button :status, false %>
            <%= f.label :status, '公開しない', value: false %>
          </div>
        </div>
        
        <%= f.submit '投稿', class: "btn btn-success ml2" %>
      <% end %>


</div>

</div>