<div class='container'>

<div class="content">


    <h2 class="section-ttl">日記帳詳細</h2>

      <table class="customer_info customer_form" border="1">
        <thead>
          <th></th>
        </thead>
        <tbody>
          <tr>
          <tr>
            <td><%= @diary_book.title %></td>
          </tr>
        </tbody>
        </table>
      <p><%= link_to "日記を作成する", new_diary_book_diary_date_path(@diary_book), class: "btn btn-success ml2" %></p>
      <p><%= link_to "この日記帳の日記をみる", diary_books_diaries_path(diary_book: @diary_book.id), class: "btn btn-success ml2" %></p>
</div>


<div class='content'>

    <h2 class="section-ttl">詳細内容</h2>
      <% @diary_book.tags.each do |tag| %>
        ▶<%= tag.name %>
      <% end %>
      <table class="customer_info customer_form" >
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>作成日付</td>
            <td><%= @diary_book.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>更新日付</td>
            <td><%= @diary_book.updated_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
          <tr>
            <td>日記の公開設定</td>
            <td>        <% if @diary_book.status == true %>
          公開する
        <% else %>
          公開しない
        <% end %></td>
          </tr>
          <tr>
            <td colspan="2"><%= link_to "日記帳を編集する", edit_diary_book_path(@diary_book), class: "btn btn-success ml2" %></td>
          </tr>
        </tbody>
        </table>



    <h2 class="section-ttl">日記帳の削除</h2>

      <p>※日記帳を削除するとこの日記帳の日記を閲覧ができなくなります。</p>
      <%= link_to "削除", diary_book_path(@diary_book), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn btn-danger ml2"  %>

</div>

<%= link_to "日記帳の一覧に戻る", diary_books_path %>

</div>

</div>