<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @diary_books.title %>日記一覧</h2>

      <p><%= link_to "日記を作成する", new_diary_book_diary_path(@diary_books), class: "btn btn-success ml2" %></p>
      <p><%= link_to 'この日記帳の詳細を見る', diary_book_path(@diary_books), class: "btn btn-success ml2" %></p>



<%= month_calendar events: @diarys do |date, diarys| %>
  <%= date.day %>


  <% diarys.each do |diary| %>
    <div>
    <%# if diary.status? %>
        <% if diary.diary_images.attached? %>
          <%= link_to diary_book_diary_path(@diary_books,diary) do %>
            <%= image_tag diary.diary_images[0].representation(resize_to_limit: [200, 180]).processed, class: "review-img"%>
          <% end %>
        <% else %>
            <%= link_to diary_book_diary_path(@diary_books,diary) do %>
              <%= diary.body.truncate(10, omission: '...続き') %>
        　　<% end %></br>
          <%#= link_to '日記を編集する', edit_diary_book_diary_path(@diary_books,diary) %>
          <%#= link_to "削除", diary_book_diary_path(@diary_books,diary), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn btn-danger ml2"  %>
        <% end %>

    <%# end %>

    </div>
  <% end %>

<% end %>


</div>

</div>
