<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @diary_books.title %>日記一覧</h2>


      <% @diarys.each do |diary| %>
        <p><%= diary.id  %>:<%= diary.date.strftime('%Y/%m/%d')  %> <%= link_to "日記を見る",diary_book_diary_path(@diary_books,diary) %>&ensp;<%= link_to '日記を編集する', edit_diary_book_diary_path(@diary_books,diary) %>&ensp;</p>
      <% end %>


</div>

</div>
