<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @diary_book.title %>日記の作成</h2>


<%= form_with model: @diary,url: diary_book_diaries_path(@diary_book) do |f| %>

		    <%= render 'layouts/error_messages', resource: @diary %>
    <div class="form-group">
      <%= f.label :date,"日付" ,class:"col-lg-2 col-form-label font-weight-bold" %>
      <%= f.date_field :date ,placeholder:"あさがお",class: "col-lg-5"  %>
    </div>


    <div class="form-group">
      <%= f.label :body,"内容" ,class:"col-lg-2 col-form-label font-weight-bold" %>
      <%= f.text_area :body ,placeholder:"入力してください",class: "col-lg-5"  %>
    </div>

    <div class="form-group">
      <%= f.label :temperature,"気温" ,class:"col-lg-2 col-form-label font-weight-bold" %>
      <%= f.number_field :temperature ,placeholder:"入力してください",class: "col-lg-5"  %>
    </div>

    <div class="form-group">
      日記の公開
      <div>
      <%= f.radio_button :status, true %>
      <%= f.label :status, '公開する', value: true %>
      <%= f.radio_button :status, false %>
      <%= f.label :status, '公開しない', value: false %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :weather,"天気" ,class:"col-lg-2 col-form-label font-weight-bold" %>
      <%= f.select :weather, Diary.weathers.keys.map {|k| [I18n.t("enums.diary.weather.#{k}"), k]} %>
    </div>

    <div class="form-group">
      <%= f.label :diary_images, '画像' %>
      <%= f.file_field :diary_images, multiple: true, accept: 'image/jpeg, image/png' %>
      <p>JPEGまたはPNG形式を選択してアップロードしてください</br>※サポートされていない形式のファイルは投稿しないでください。</p>
    </div>

  <%= f.submit '投稿',class:"btn btn-lg btn-success" %>

<% end %>

</div>

</div>
