<div class='container'>

<div class="content">


    <h2 class="section-ttl">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="customer_info customer_form">
          <thead>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2"><%= f.submit "ログイン",class:"col-md-4 btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>


    <%= render "public/shared/links" %>


</div>

</div>