<div class='container'>

<div class="content">


    <h2 class="section-ttl">日記帳の編集</h2>

      <%= form_with model: @diary_book, url:admin_diary_book_path(@diary_book) do |f| %>
      <%= render 'layouts/error_messages', resource: @diary_book %>

        <div class="form-group">
         <%= f.label :title,"タイトル" ,class:"col-lg-2 col-form-label font-weight-bold" %>
         <%= f.text_field :title ,placeholder:"あさがお",class: "col-lg-5"  %>
       </div>
       <div class="form-group">
         <%= f.label :tag_ids,"タグ" ,class:"col-lg-2 col-form-label font-weight-bold" %>
         <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
           <%= tag.label do %>
             <%= tag.check_box %>
             <%= tag.text %>
           <% end %>
         <% end %>
        </div>
        <div class="form-group">
          日記帳の公開
          <div>
            <%= f.radio_button :status, true %><%= f.label :status, '公開する', value: true %>
            <%= f.radio_button :status, false %><%= f.label :status, '公開しない', value: false %>
          </div>
        </div>
        <div class="form-group">
          管理者日記帳の公開
          <div>
            <%= f.radio_button :status_admin, false %><%= f.label :status, '公開する', value: false %>
            <%= f.radio_button :status_admin, true %><%= f.label :status, '公開しない', value: true %>
          </div>
        </div>

        <%= f.submit '更新する', class: "btn btn-success ml2"  %>
      <% end %>


</div>

</div>
