
<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @diary_book.customer.name %>さんの日記帳詳細</h2>
      <table class="customer_info customer_form" border="1">
        <thead>
          <th></th>
        </thead>
        <tbody>
          <tr>
          <tr>
            <td><%= @diary_book.title %></td>
          </tr>
        </tbody>
        </table>
      <p><%= link_to "日記を見る",admin_diary_book_diaries_path(@diary_book) %></p>
</div>

<div class='content'>

    <h2 class="section-ttl">詳細内容</h2>
      <% @diary_book.tags.each do |tag| %>
        ▶<%= tag.name %>
      <% end %>
      <table class="customer_info customer_form" >
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>作成日付</td>
            <td><%= @diary_book.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>更新日付</td>
            <td><%= @diary_book.updated_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
          <tr>
            <td>日記の公開設定</td>
            <td><% if @diary_book.status? %>公開する<% else %>公開しない<% end %></td>
          </tr>
          <tr>
            <td>管理者側の日記の公開設定</td>
            <td><% if @diary_book.status_admin? %>公開しない<% else %>公開する<% end %></td>
          </tr>
          <tr>
            <td colspan="2"><%= link_to "日記帳を編集する",  edit_admin_diary_book_path(@diary_book), class: "btn btn-success ml2" %></td>
          </tr>
        </tbody>
        </table>



    <h2 class="section-ttl">日記帳の削除</h2>

      <p>※日記帳を削除するとこの日記帳の日記を閲覧ができなくなります。</p>
削除リンク

</div>

<%= link_to "戻る",admin_customer_path(@diary_book.customer_id), class: "btn btn-success ml2" %>

</div>

</div>