      <% if diary_book.present? %>



        <div class="tags">
          <% diary_book.tags.each do |tag| %>
            ▶<%= tag.name %>
          <% end %>
        </div>


        <div class="card d-block calendar rounded-0 my-3" >
          <div class="card-header_design2"><h2 class="section-ttl"><%= diary_book.title %>の日記</h2></div>


      <% if customer_signed_in? %>
        <% if current_customer.id == diary_book.customer.id %>
          <%= link_to "日記を作成する", new_diary_book_diary_date_path(diary_book), class: "btn btn-success m-2" %>
        <% end %>
      <% end %>


          <div class="row justify-content-center character_underline  my-2">
            <% if diary_date_latest_date.present? %>
              <p class="col-lg-10 col-sm-10 col-10 col-md-5 no_margins"><span class="px-2">最新記録日付：<%= diary_date_latest_date.start_time.strftime('%Y/%m/%d') %></span></p>
            <% else %>
              <p  class="col-lg-10 col-sm-10 col-10 col-md-5 no_margins"><span class="px-2">この日記帳には記録がありません。</span></p>
            <% end %>
          </div>


          <%= month_calendar events: diary_dates do |date, diary_dates| %>
            <p style="text-align:center" class="my-1"><%= date.day %></p>
             <% if customer_signed_in? %>

               <% if current_customer.id == diary_book.customer.id %>
                 <% diary_dates.each do |diary_date| %>
                   <% if diary_date.diary_images.attached? %>
                     <%= link_to diary_book_diary_date_path(diary_book,diary_date) do %>
                       <%= image_tag diary_date.diary_images[0].representation(resize_to_limit: [70, 70]).processed, class: "image_size" %>
                     <% end %>
                   <% else %>
                     <%= link_to diary_book_diary_date_path(diary_book,diary_date),class:"calendar_day" do %>
                       <span style="word-break: break-all;"><%= diary_date.body.truncate(15, omission: '...続き') %></span>
             　       <% end %>
                   <% end %>
                 <% end %>
               <% else %>
                 <% diary_dates.each do |diary_date| %>
                   <% if diary_date.diary_images.attached? %>
                     <%= link_to customer_customer_diary_book_path(customer,diary_date) do %>
                       <%= image_tag diary_date.diary_images[0].representation(resize_to_limit: [70, 70]).processed, class: "image_size" %>
                     <% end %>
                   <% else %>
                     <%= link_to customer_customer_diary_book_path(customer,diary_date),class:"calendar_day" do %>
                       <span style="word-break: break-all;"><%= diary_date.body.truncate(15, omission: '...続き') %></span>
             　       <% end %>
                   <% end %>
                 <% end %>
               <% end %>

           <% else %>
                 <% diary_dates.each do |diary_date| %>
                   <% if diary_date.diary_images.attached? %>
                     <%= link_to admin_diary_book_diary_date_path(diary_book,diary_date) do %>
                       <%= image_tag diary_date.diary_images[0].representation(resize_to_limit: [70, 70]).processed, class: "image_size" %>
                     <% end %>
                   <% else %>
                     <%= link_to admin_diary_book_diary_date_path(diary_book,diary_date),class:"calendar_day" do %>
                       <span style="word-break: break-all;"><%= diary_date.body.truncate(15, omission: '...続き') %></span>
             　       <% end %>
                   <% end %>
                 <% end %>
               <% end %>

           <% end %>
        </div>




      <% else %>
          <h5 class="section-ttl">日記帳一覧から日記帳を選択してください</h5>
      <% end %>