<!DOCTYPE html>
<html>
  <head>
    <title>EveryonePlantDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bb658d0cc3.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="shadow-sm">

        <div class="container py-3">



          <div class="row">
            <div class="logo col-lg-2 col-12">
              <a class="navbar-brand" href="/"><%= image_tag 'logo.jpg',size: "130x100" %></a>
            </div>
          <% if customer_signed_in? %>
            <div class="col-lg-3 col-12 col-sm-12">
              <div class="customer_name">
                <p class="pt-4"style="word-break: break-all;">ようこそ,<%= current_customer.name %>さん！</p>
                </div>
            </div>
          <% end %>
          <% if customer_signed_in? %>
            <div class="col-lg-7 col-8 col-sm-8">
              <div class="customer_search ">
                <%= form_with(scope: "search", url: search_path, method: 'get') do |form| %>
                  <%= text_field_tag "search[content]", "", :placeholder =>"検索する" %>
                    <span>
                    <%= form.label "[method]","or", value: "partial" %>
                    <%= form.radio_button "[method]", "partial", checked: true %>
                    <%= form.label "[method]","and", value: "perfect" %>
                    <%= form.radio_button "[method]", "perfect"	 %>
                    </span>
                  <div>
                    <span>
                    <%= form.label "[model]","日記帳検索", value: "diary_books" %>
                    <%= form.radio_button "[model]", "diary_books", checked: true %>
                    <%= form.label "[model]","ユーザ検索", value: "customer" %>
                    <%= form.radio_button "[model]", "customer"	 %>
                    </span>
                    <%= submit_tag '検索', class:"m-2 search_color"%>
                  </div>
                  <% end %>
               </div>
            </div>
          <% end %>
            </div>

          <% if admin_signed_in? %>
            <div class="col-lg-8 col-12 col-sm-12">
              <div class="customer_search ">
                <%= form_with(scope: "search", url: admin_search_path, method: 'get') do |form| %>
                  <%= text_field_tag "search[content]", "", :placeholder =>"検索する" %>
                    <span>
                    <%= form.label "[method]","or", value: "partial" %>
                    <%= form.radio_button "[method]", "partial", checked: true %>
                    <%= form.label "[method]","and", value: "perfect" %>
                    <%= form.radio_button "[method]", "perfect"	 %>
                    </span>
                  <div>
                    <span>
                    <%= form.label "[model]","日記帳検索", value: "diary_books" %>
                    <%= form.radio_button "[model]", "diary_books", checked: true %>
                    <%= form.label "[model]","ユーザ検索", value: "customer" %>
                    <%= form.radio_button "[model]", "customer"	 %>
                    </span>
                    <%= submit_tag '検索', class: "btn sm btn-primary" %>
                  </div>
                  <% end %>
               </div>
              </div>
          <% end %>
            </div>
          <nav class="navbar-expand-lg navbar-light header_list">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav  me-auto mb-lg-0">
            <% if admin_signed_in? %>
              <%= link_to admin_customers_path do %>
                <li class="nav-item">
                    会員一覧
                 </li>
              <% end %>
              <%= link_to admin_path do %>
                <li class="nav-item">
                    みんなの日記
                </li>
              <% end %>
              <%= link_to destroy_admin_session_path,method: :delete do %>
                <li class="nav-item">
                    ログアウト
                </li>
              <% end %>
            <% elsif customer_signed_in? %>

              <%= link_to customers_path do %>
               <li class="nav-item">
                  他のユーザ
                </li>
              <% end %>
              <%= link_to my_page_path do %>
                <li class="nav-item">
                  マイページ
                </li>
              <% end %>
              <%= link_to favorite_path do %>
                <li class="nav-item">
                  いいねした日記
                </li>
              <% end %>
              <%= link_to diary_books_path do %>
                <li class="nav-item">
                  日記帳
                </li>
              <% end %>
              <%= link_to diary_books_diaries_path do %>
                <li class="nav-item">
                  日記
                </li>
              <% end %>
              <%= link_to calendar_diaries_path do %>
                <li class="nav-item">
                  みんなの日記
                </li>
              <% end %>
              <%= link_to destroy_customer_session_path,method: :delete do %>
                <li class="nav-item">
                  ログアウト
                </li>
              <% end %>

            <% else %>

               <%= link_to calendar_diaries_path do %>
                  <li class="nav-item">
                    みんなの日記
                  </li>
                <% end %>
                <%= link_to new_customer_registration_path do %>
                  <li class="nav-item">
                    新規登録

                <% end %>
                <%= link_to new_customer_session_path do %>
                  <li class="nav-item">
                    ログイン
                  </li>
                <% end %>

            <% end %>
          </ul>


         </div>
    </header>


    <main class="py-5">
      <% if flash[:alert] %>
        <div class='container'>
            <p class="alert alert-danger" role="alert" id="alert"><%= alert %></p>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class='container'>
          <div class="flash my-3">
            <p class="font-weight-bold pt-4" style="font-size : 15pt" id="notice">&emsp;<%= notice %></p>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="shadow-sm">
      <div class='container pt-5'>
        <div class='row'>
          <div class='mx-auto mt-3'>
            <p>EveryonePlantDiary</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
