<!DOCTYPE html>
<html>
  <head>
    <title>EveryonePlantDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">

        <div class="container pt-3">



          <div class="row">

            <div class="logo col-lg-1">
              <a class="navbar-brand" href="/">ロゴ</a>
            </div>

          <% if customer_signed_in? %>
            <div class="col-lg-3 col-sm-12">
              <div class="customer_name">
                <p class="pt-4">ようこそ,<%= current_customer.name %>さん！</p>
                </div>
            </div>
          <% end %>



          <% if customer_signed_in? %>
            <div class="col-lg-8 col-12 col-sm-12">
              <div class="customer_search ">
                <%= form_with(scope: "search", url: search_path, method: 'get') do |form| %>
                  <span>キーワード検索</span></br>
                  <span>キーワード：</span>
                  <%= text_field_tag "search[content]", "", :placeholder =>"日記帳: 日記帳名/ユーザ: ユーザ名" %>
                  <div>
                    <span>検索対象：</span>
                    <%= form.label "[model]","日記帳", value: "diary_books" %>
                    <%= form.radio_button "[model]", "diary_books", checked: true %>
                    <span>,</span>
                    <%= form.label "[model]","ユーザ", value: "customer" %>
                    <%= form.radio_button "[model]", "customer"	 %>
                    <span>検索条件：</span>
                    <%= form.label "[method]","部分一致", value: "partial" %>
                    <%= form.radio_button "[method]", "partial", checked: true %>
                    <span>,</span>
                    <%= form.label "[method]","完全一致", value: "perfect" %>
                    <%= form.radio_button "[method]", "perfect"	 %>
                    <%= submit_tag '検索', class: "btn sm btn-primary" %>
                  </div>
                  <% end %>
               </div>
            </div>
          <% end %>
          </div>


          <% if admin_signed_in? %>
            <%= form_with(scope: "search", url: admin_search_path, method: 'get') do |form| %>
              <p>キーワード検索</p>
              <span>キーワード：</span>
              <%= text_field_tag "search[content]", "", :placeholder =>"日記帳: 日記帳名/ユーザ: ユーザ名" %>
              <span>検索対象：</span>
              <%= form.label "[model]","日記帳", value: "diary_books" %>
              <%= form.radio_button "[model]", "diary_books", checked: true %>
              <span>,</span>
              <%= form.label "[model]","ユーザ", value: "customer" %>
              <%= form.radio_button "[model]", "customer"	 %>
              <span>検索条件：</span>
              <%= form.label "[method]","部分一致", value: "partial" %>
              <%= form.radio_button "[method]", "partial", checked: true %>
              <span>,</span>
              <%= form.label "[method]","完全一致", value: "perfect" %>
              <%= form.radio_button "[method]", "perfect"	 %>
              <%= submit_tag '検索', class: "btn btn-primary" %>
            <% end %>
          <% end %>


     <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if admin_signed_in? %>
              <div>
                <li>
                 <%= link_to admin_customers_path,:style =>"color:black;" do %>
                    会員一覧
                 <% end %>
                </li>
                <li>
                  <%= link_to admin_path,:style =>"color:black;" do %>
                    みんなの日記
                  <% end %>
                </li>
                <li>
              <!--    < %= link_to ***_path,:style =>"color:black;" do %> -->
                使い方
              <!--    < % end %>  -->
                </li>
                <li>
                  <%= link_to destroy_admin_session_path,:style =>"color:black;",method: :delete do %>
                    ログアウト
                  <% end %>
                </li>
              </div>
            <% elsif customer_signed_in? %>
              <div>
                <li class="nav-item">
                  <%= link_to customers_path,:style =>"color:black;" do %>
                    会員一覧
                  <% end %>
                </li>
              <li class="nav-item">
                <%= link_to my_page_path,:style =>"color:black;" do %>
                  マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to favorite_path,:style =>"color:black;" do %>
                  いいねした日記
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to diary_books_path,:style =>"color:black;" do %>
                  日記帳
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to diary_books_diaries_path,:style =>"color:black;" do %>
                  日記
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to calendar_diaries_path,:style =>"color:black;" do %>
                  みんなの日記
                <% end %>
              </li>
              <li class="nav-item">
              <!--    < %= link_to ***_path,:style =>"color:black;" do %> -->
                使い方
              <!--    < % end %>  -->
              </li>
              <li class="nav-item">
                <%= link_to destroy_customer_session_path,:style =>"color:black;",method: :delete do %>
                  ログアウト
                <% end %>
              </li>
              </div>
            <% else %>
              <div class="text-right pb-5">
                <li>
                  <%= link_to calendar_diaries_path,:style =>"color:black;" do %>
                    みんなの日記
                  <% end %>
                </li>
                <li>
              <!--    < %= link_to ***_path,:style =>"color:black;" do %> -->
                使い方
              <!--    < % end %>  -->
                </li>
                <li class="btn btn-light btn-lg" >
                  <%= link_to new_customer_registration_path,:style =>"color:black;" do %>
                    新規登録
                  <% end %>
                </li>
                <li class="btn btn-light btn-lg" >
                  <%= link_to new_customer_session_path,:style =>"color:black;" do %>
                    ログイン
                  <% end %>
                </li>
                <li class="btn btn-light btn-lg" >
                  <%= link_to new_admin_session_path,:style =>"color:black;" do %>
                    管理ログイン用(後で消す！！！)
                  <% end %>
                </li>
                <li class="btn btn-light btn-lg">
                  <%= link_to customers_guest_sign_in_path, method: :post,:style =>"color:black;" do %>
                    ゲストログイン（閲覧用）
                  <% end %>
                </li>
              </div>
            <% end %>
          </ul>


         </div>
    </header>


    <main>
      <% if flash[:notice] %>
        <div class='container'>
          <div class="flash">
            <p class="font-weight-bold pt-4" style="font-size : 15pt" id="notice"><%= notice %></p>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="shadow-sm">
      <div class='container mt-5'>
        <div class='row'>
          <div class='mx-auto mt-3'>
            <p>EveryonePlantDiary</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
